<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385037606786-ulcur6pv4n3bgosegrlvhdje7sbf42u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385037606786-ulcur6pv4n3bgosegrlvhdje7sbf42u2</string>
	<key>API_KEY</key>
	<string>AIzaSyBaTWe9Llm3F8nPIgJGqcT1wq4bIPwgHoA</string>
	<key>GCM_SENDER_ID</key>
	<string>385037606786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationTest</string>
	<key>PROJECT_ID</key>
	<string>notificaitontest-2eecd</string>
	<key>STORAGE_BUCKET</key>
	<string>notificaitontest-2eecd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385037606786:ios:efd64c24a2ebba9436f99b</string>
</dict>
</plist>